<a href="https://colab.research.google.com/github/SrivinaySridhar/Intro_to_Data_Analytics/blob/main/Example1_Home_vs_Away.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Extraction & Transformation

Parsing raw StatsBomb data and storing it in a Pandas DataFrame

---

In [ ]:
import requests
import pandas as pd

- `requests` is a great library for executing HTTP requests
- `pandas` is a data analysis and manipulation package

---

In [ ]:
base_url = "https://raw.githubusercontent.com/statsbomb/open-data/master/data/"
comp_url = base_url + "matches/{}/{}.json"

These URLs are the locations where the raw StatsBomb data is. The `{}` in the URLs are dynamically replaced with IDs with `.format()`

___

In [ ]:
def parse_data(competition_id, season_id):
    matches = requests.get(url=comp_url.format(competition_id, season_id)).json()
    return pd.DataFrame(matches)

The `parse_data` function handles the full Extracting process.

The sequence of events is this:
1. The list of matches of the given competition id and season id is loaded into the `matches` list.
2. Return a Pandas DataFrame from the `matches` list.

---

In [ ]:
competition_id = 2
season_id = 44

Setting the competition id and season id:
- `competition_id = 2` - StatsBomb's Competition ID for the Premier League
- `season_id = 44` - StatsBomb's Season ID for the 2004 Season

---

In [ ]:
df = parse_data(competition_id, season_id)

Creating the DataFrame using the ```parse_data()``` with the competition_id and season_id.

---

In [ ]:
df.head()

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium
0,3749052,2004-02-07,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 217, 'name': 'Molineux Stadium', 'count..."
1,3749522,2003-12-26,13:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",18,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
2,3749246,2004-03-28,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",30,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
3,3749257,2004-05-15,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1,available,scheduled,2020-08-30T08:12:14.579037,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",38,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
4,3749642,2004-02-28,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",27,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."

The `.head()` method on a DataFrame object shows you the first 5 records in the DataFrame.

---

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match_id           33 non-null     int64
 1   match_date         33 non-null     object
 2   kick_off           33 non-null     object
 3   competition        33 non-null     object
 4   season             33 non-null     object
 5   home_team          33 non-null     object
 6   away_team          33 non-null     object
 7   home_score         33 non-null     int64
 8   away_score         33 non-null     int64
 9   match_status       33 non-null     object
 10  match_status_360   33 non-null     object
 11  last_updated       33 non-null     object
 12  last_updated_360   33 non-null     object
 13  metadata           33 non-null     object
 14  match_week         33 non-null     int64
 15  competition_stage  33 non-null     object
 16  stadium            33 non-null     object
dtypes: int64(4), object(13)
memory usage: 4.5+ KB

We can see that there are quite some columns and useful data that we can perform analysis with.

Here is where we should think about the question we want to answer with the data.

---

#### Let us try to answer the following question as an example:

Did Arsenal perform better at Home or Away during their invincible 2003/04 season?

The first step is to filter the columns with the required data and drop the unwanted columns with respect to the question posed.

In [ ]:
df_clean = df.drop(["kick_off", "competition", "season", "match_status", "match_status_360", "last_updated", "last_updated_360", "competition_stage", "metadata", "match_week", "stadium"], axis = 1)

In [ ]:
df_clean.head(5)

,match_id,match_date,home_team,away_team,home_score,away_score
0,3749052,2004-02-07,"{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3
1,3749522,2003-12-26,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0
2,3749246,2004-03-28,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1
3,3749257,2004-05-15,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1
4,3749642,2004-02-28,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   match_id    33 non-null     int64
 1   match_date  33 non-null     object
 2   home_team   33 non-null     object
 3   away_team   33 non-null     object
 4   home_score  33 non-null     int64
 5   away_score  33 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1.7+ KB

Let us answer the question using two metrics:


1.   Win, Loss & Draw percentages
2.   Goal Difference

We will create two simple functions to calculate this and populate the columns of the Dataframe respectively.

In [ ]:
def get_winner(df_row: list) -> str:
    if df_row["home_score"] > df_row["away_score"]:
        return df_row["home_team"]["home_team_name"]
    elif df_row["home_score"] < df_row["away_score"]:
        return df_row["away_team"]["away_team_name"]
    else:
        return "Draw"

The ```get_winner()``` function returns the outcome of the match. The possible 3 outcomes are:
1. Team Name 1
2. Team Name 2
3. Draw

---

In [ ]:
def is_home(df_row: list) -> bool:
    TEAM_NAME = "Arsenal"
    if df_row["home_team"]["home_team_name"] == TEAM_NAME:
        return True
    return False

The `is_home()` function returns whether "Arsenal" is the home or away team. The possible 2 outcomes are:
1. True
2. False

---

In [ ]:
def goal_difference(df_row: list) -> int:
    if is_home(df_row):
        return df_row["home_score"] - df_row["away_score"]
    else:
        return df_row["away_score"] - df_row["home_score"]

The ```goal_difference()``` function returns the goal_differnce of the match with respect to team "Arsenal". The outcome is an ```int``` type

---

In [ ]:
df_clean["winner"] = df.apply(get_winner, axis=1)

In [ ]:
df_clean["goal_difference"] = df.apply(goal_difference, axis = 1)

In [ ]:
df_clean["is_home"] = df.apply(is_home, axis = 1)

```df_clean['column_name'] = ...``` is a way to add a column to the specified Dataframe object of the Pandas library.

The ```.apply()``` method part of the Pandas Dataframe built-in methods applies the given function on each of the rows. The parameter ```axis = 1``` is to specify that the function has to be applied column wise.

---

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         33 non-null     int64
 1   match_date       33 non-null     object
 2   home_team        33 non-null     object
 3   away_team        33 non-null     object
 4   home_score       33 non-null     int64
 5   away_score       33 non-null     int64
 6   winner           33 non-null     object
 7   goal_difference  33 non-null     int64
 8   is_home          33 non-null     bool
dtypes: bool(1), int64(4), object(4)
memory usage: 2.2+ KB

We can see that 3 additional columns have been added to the ```df_clean``` Dataframe object:
1. winner -> ```object``` datatype
2. goal_difference -> ```int``` datatype
3. is_home -> ```bool``` datatype

---

In [ ]:
df_clean.head()

,match_id,match_date,home_team,away_team,home_score,away_score,winner,goal_difference,is_home
0,3749052,2004-02-07,"{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3,Arsenal,2,False
1,3749522,2003-12-26,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0,Arsenal,3,True
2,3749246,2004-03-28,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1,Draw,0,True
3,3749257,2004-05-15,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1,Arsenal,1,True
4,3749642,2004-02-28,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1,Arsenal,1,True

We can infer the following from the above:
- Four of the first five matches are Home games for Arsenal (from the `is_home` column)
- Arsenal won four out of five matches, and the remaining match ended in a draw. (from the `winner` column)
- Arsenal has won with a goal difference of 3 once, 2 once and 1 twice (from the `goal_difference` column)

In [ ]:
def percentage(n: int, total: int) -> float:
    return str(round((n/total)*100, 2)) + "%"

def win_draw_loss(df_row: list) -> list:
    #Will take in list of list (Home rows list or Away rows list)
    win, draw, loss = (0, 0, 0)
    matches = len(df_row)
    for row in df_row:
      if row[7] == "Arsenal":
          win += 1
      elif row[7] == "Draw":
          draw += 1
      else:
          loss += 1
    return [matches, percentage(win, matches), percentage(draw, matches), percentage(loss, matches)]

The `percentage()` function converts the numerical values to percentages

The `win_draw_loss()` function calculates the number of wins, draws and losses by team "Arsenal" and returns it as percentages

---

In [ ]:
def home_away_stats() -> list:
    home_games, away_games = [], []
    for row in df_clean.itertuples():
        if row[9]:
            home_games.append(row)
        else:
            away_games.append(row)
    return [win_draw_loss(home_games), win_draw_loss(away_games)]

The `home_away_stats()` function aggregates the wins, draws and losses for the home and away games played by team "Arsenal"

---

In [ ]:
def calculate_gd(df_row: list) -> list:
    gd = 0
    matches = len(df_row)
    for row in df_row:
        gd += row[8]
    gd = gd/len(df_row)
    return [matches, gd]

def gd_stats() -> list:
    home_games, away_games = [], []
    for row in df_clean.itertuples():
        if row[9]:
            home_games.append(row)
        else:
            away_games.append(row)
    return [calculate_gd(home_games), calculate_gd(away_games)]

The `calculate_gd()` function calculates the goal difference for the given list of matches and returns the average goal difference per match

The `gd_stats()` function aggregates the goal difference per match for the home and away games played by team "Arsenal"

---

In [ ]:
stats1 = pd.DataFrame(home_away_stats(), columns = ["matches", "win", "draw", "loss"], index = ["Home", "Away"])

We apply the `home_away_stats()` function and store the output values into a pandas Data Frame so that it is easy to see the values and make observations

---

In [ ]:
stats2 = pd.DataFrame(gd_stats(), columns = ["matches", "gd_average"], index = ["Home", "Away"])

We apply the `gd_stats()` function and store the output values into a pandas Data Frame so that it is easy to see the values and make observations

---

In [ ]:
stats1

      matches     win    draw  loss
Home       17  76.47%  23.53%  0.0%
Away       16  68.75%  31.25%  0.0%

In [ ]:
stats2

      matches  gd_average
Home       17    1.294118
Away       16    1.312500

1. We can see that the win percentage is *7.72%* higher in Home games as compared to Away games
2. The goal difference in Away games is *0.0184* higher (only slightly) than in Home games.

> Overall - Team "Arsenal" has performed better at Home than Away.

---